<div class="about-area-two pt-15 pb-10 productMain">
    <div class="container">
        <div class="row pt-45">
            <div class="col-lg-4">
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="circleImgages"><img src="assets/img/home3/reviews_img.png"></div>
            </div>
            <div class="col-lg-4">
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
                <div class="circleImgages">
                    <img src="assets/img/home3/reviews_img.png">
                </div>
            </div>
        </div>
    </div>
</div>








<div class="about-area-two pt-15 pb-10 emiOptions reviewsSection">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8"><div class="scetion-title text-center">
                <span>A lot of Happy Customers</span>
                <h2>Great experience, I was curious about the Bike.Great experience,
                     I was curious about the Bike.Great experience, I was curious about the Bike</h2>
                
            </div></div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row pt-45 paddintTop">
            

            
            <div class="col-lg-4">
                <div class="about-service-img aboutScootysHome sProducts">
                <div class="row reviewsContent">
                    <div class="col-lg-4">
                        <!-- <div class="about-man-img">
                            <img src="assets/img/home3/scooty-5.png" alt="About Images">
                        </div> -->
    
                        <div class="about-man-bgs">
                            <img src="assets/img/home3/reviews_img.png" alt="About Shape">
                        </div>
                       
                      
                    </div>
                    <div class="col-lg-8"><h3>wasim akram</h3>
                    <p>Delhi</p>
                    <p>2 Hours ago</p></div>
                    <hr class="">
                    <div class="col-lg-12"><p class="mainContent">Great experience, I was curious
                         about the Bike.Great experience, I was curious about
                          the Bike.Great experience, I was curious about the
                           BikeI was curious about the Bike.Great experience,
                            I was curious about the BikeI was curious about 
                            the Bike.Great experience, I was curious about the
                         BikeI was curious about the Bike.Great experience, 
                         I was curious about the Bike</p></div>
                    </div>
                   
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="about-service-img aboutScootysHome sProducts">
                <div class="row reviewsContent">
                    <div class="col-lg-4">
                        <!-- <div class="about-man-img">
                            <img src="assets/img/home3/scooty-5.png" alt="About Images">
                        </div> -->
    
                        <div class="about-man-bgs">
                            <img src="assets/img/home3/reviews_img.png" alt="About Shape">
                        </div>
                       
                      
                    </div>
                    <div class="col-lg-8"><h3>wasim akram</h3>
                    <p>Delhi</p>
                    <p>2 Hours ago</p></div>
                    <hr class="">
                    <div class="col-lg-12"><p class="mainContent">Great experience, I was curious
                         about the Bike.Great experience, I was curious about
                          the Bike.Great experience, I was curious about the
                           BikeI was curious about the Bike.Great experience,
                            I was curious about the BikeI was curious about 
                            the Bike.Great experience, I was curious about the
                         BikeI was curious about the Bike.Great experience, 
                         I was curious about the Bike</p></div>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-service-img aboutScootysHome sProducts">
                <div class="row reviewsContent">
                    <div class="col-lg-4">
                        <!-- <div class="about-man-img">
                            <img src="assets/img/home3/scooty-5.png" alt="About Images">
                        </div> -->
    
                        <div class="about-man-bgs">
                            <img src="assets/img/home3/reviews_img.png" alt="About Shape">
                        </div>
                       
                      
                    </div>
                    <div class="col-lg-8"><h3>wasim akram</h3>
                    <p>Delhi</p>
                    <p>2 Hours ago</p></div>
                    <hr class="">
                    <div class="col-lg-12"><p class="mainContent">Great experience, I was curious
                         about the Bike.Great experience, I was curious about
                          the Bike.Great experience, I was curious about the
                           BikeI was curious about the Bike.Great experience,
                            I was curious about the BikeI was curious about 
                            the Bike.Great experience, I was curious about the
                         BikeI was curious about the Bike.Great experience, 
                         I was curious about the Bike</p></div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>