<div class="about-area-two pt-15 pb-10 conctusmain">
<img class="firstImg" src="assets/img/home3/background_cont.png">
<img class="secondImg" src="assets/img/home3/contactus.png">
</div>


<div class="about-area-two pt-15 pb-10 bookScooterAll mainFormCont">
    <div class="container">
        <div class="scetion-title text-center">
            <h2>To request a quote or want to meet up for a coffee.
                Contact us directly or fill out the form & we will get back to you promptly.</h2>
        </div>
        <div class="row pt-45">
            

            <div class="col-lg-6">
                <div class="about-service-text">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="choose-card contactSecondDiv">
                               
                                    <form id="contactForm">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                               <div class="form-group">
                                                <label for="exampleInputEmail1">Name</label>
                                                   <input type="text" name="name" id="name" class="form-control" required placeholder="Enter Your Name">
                                               </div>
                                            </div>
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                 <label for="exampleInputEmail1">Mobile Number</label>
                                                    <input type="text" name="name" id="name" class="form-control" required placeholder="Enter Your Mobile Number">
                                                </div>
                                             </div>
                                             <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                 <label for="exampleInputEmail1">E-mail</label>
                                                    <input type="email" name="name" id="name" class="form-control" required placeholder="Enter Your E-mail">
                                                </div>
                                             </div>
                                             
                                             <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                 <label for="exampleInputEmail1">Messages</label>
                                                   <textarea rows="4" class="form-control" placeholder="Enter Your Messages"></textarea>
                                                </div>
                                             </div>
                                           
                                             <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                    <div class="about-btn"><a routerlink="/" href="/" class="default-btn know-more-btn formBtn">Send Massage</a></div> 
                                                </div>
                                             </div>
                                             
                                            </div>
                                            </form>
                         
                        </div>

                        

                        


                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-6">
                <div class="about-service-img">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/about/about3.png" alt="About Images">
                    </div> -->
                    <div class="about-man-bg">
                        <img src="assets/img/home3/contact-form.png" alt="About Shape">
                    </div>
                </div>
                <div class="cFormBottom">
                <ul>
                    <li><i class='bx bxs-map'></i>Vaishali Nagar, Jaipur 
                        Rajasthan, 302012</li>
                    <li><i class='bx bxs-phone'></i> <a href="tel:+11234567891">+91 1234567890</a></li>
                    <li><i class='bx bxl-telegram'></i> <a href="mailto:email@sdd.com">support@lioev.com</a></li>
                    
                </ul>
            </div>
                
        </div>
    </div>
</div>
