
<div class="about-area-two pt-15 pb-15">
    <div class="container">
        <div class="scetion-title text-center sectionFeature sepMainfeature" id="ourFeature">
            <span>Features</span>
            <h2>We offer Best & Futuristic Features </h2>
        </div>

        <div class="row pt-45">
            <div class="col-lg-12">
                <div class="about-service-text">
                    <div class="row">
                        <div class="col-lg-3 col-sm-3">
                            <div class="choose-card">
                                <div class="row griedBox">
                                    <div class="col-lg-6"><span class="sBoxes">04</span></div>
                                
                                    <div class="col-lg-6"><i class='bx bxs-check-circle rightCircle'></i></div>
                                </div>
                                <i class='bx bxs-battery-charging'></i>

                                <h3>Best Battery</h3>
                                <P class="sBoxPara">We provide best battery life againest our compititors and also long lasting battery life.</P>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3">
                            <div class="choose-card">
                                <div class="row griedBox">
                                    <div class="col-lg-6"><span class="sBoxes">04</span></div>
                                
                                    <div class="col-lg-6"><i class='bx bxs-check-circle rightCircle'></i></div>
                                </div>
                                <i class='bx bxs-battery-charging'></i>

                                <h3>Best Battery</h3>
                                <P class="sBoxPara">We provide best battery life againest our compititors and also long lasting battery life.</P>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3">
                            <div class="choose-card">
                                <div class="row griedBox">
                                    <div class="col-lg-6"><span class="sBoxes">04</span></div>
                                
                                    <div class="col-lg-6"><i class='bx bxs-check-circle rightCircle'></i></div>
                                </div>
                                <i class='bx bxs-battery-charging'></i>

                                <h3>Best Battery</h3>
                                <P class="sBoxPara">We provide best battery life againest our compititors and also long lasting battery life.</P>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3">
                            <div class="choose-card">
                                <div class="row griedBox">
                                    <div class="col-lg-6"><span class="sBoxes">04</span></div>
                                
                                    <div class="col-lg-6"><i class='bx bxs-check-circle rightCircle'></i></div>
                                </div>
                                <i class='bx bxs-battery-charging'></i>

                                <h3>Best Battery</h3>
                                <P class="sBoxPara">We provide best battery life againest our compititors and also long lasting battery life.</P>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3">
                            <div class="choose-card">
                                <div class="row griedBox">
                                    <div class="col-lg-6"><span class="sBoxes">04</span></div>
                                
                                    <div class="col-lg-6"><i class='bx bxs-check-circle rightCircle'></i></div>
                                </div>
                                <i class='bx bxs-battery-charging'></i>

                                <h3>Best Battery</h3>
                                <P class="sBoxPara">We provide best battery life againest our compititors and also long lasting battery life.</P>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3">
                            <div class="choose-card">
                                <div class="row griedBox">
                                    <div class="col-lg-6"><span class="sBoxes">04</span></div>
                                
                                    <div class="col-lg-6"><i class='bx bxs-check-circle rightCircle'></i></div>
                                </div>
                                <i class='bx bxs-battery-charging'></i>

                                <h3>Best Battery</h3>
                                <P class="sBoxPara">We provide best battery life againest our compititors and also long lasting battery life.</P>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3">
                            <div class="choose-card">
                                <div class="row griedBox">
                                    <div class="col-lg-6"><span class="sBoxes">04</span></div>
                                
                                    <div class="col-lg-6"><i class='bx bxs-check-circle rightCircle'></i></div>
                                </div>
                                <i class='bx bxs-battery-charging'></i>

                                <h3>Best Battery</h3>
                                <P class="sBoxPara">We provide best battery life againest our compititors and also long lasting battery life.</P>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3">
                            <div class="choose-card">
                                <div class="row griedBox">
                                    <div class="col-lg-6"><span class="sBoxes">04</span></div>
                                
                                    <div class="col-lg-6"><i class='bx bxs-check-circle rightCircle'></i></div>
                                </div>
                                <i class='bx bxs-battery-charging'></i>

                                <h3>Best Battery</h3>
                                <P class="sBoxPara">We provide best battery life againest our compititors and also long lasting battery life.</P>
                            </div>
                        </div>
                        <!-- <div class="viewMore"><span>View All Features</span></div> -->
                    </div>
                </div>
            </div>

          
        </div>
    </div>
</div>
