<div class="about-area-two pt-15 pb-10 productMain">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Lio Nio 9</span>
            <h2>Beast Features Available in Best Price</h2>
            
        </div>

        <div class="row pt-45">
            <div class="col-lg-6">
                <div class="about-service-text abouServicesLeft">
                    <div class="row">
                        <div  class="about-content">
                            <h2>Ex-Showroom price:</h2>
                            <p>Rs.69,000.00</p>
                            <h2>Booking Amount</h2>
             <p>Rs. 999</p>
             <p>In publishing and graphic design, Lorem ipsum is
                  a placeholder text commonly used to demonstrate 
                  the visual form of a document or a typeface without
                   relying on meaningful content.

            </p>
             <div class="about-btn">
                       <a (click)="bookPro()"  href="javascript:void(0);" class="default-btn know-more-btn" 
                       >Book Now</a></div></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-service-img aboutScootysHome">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bg">
                        <img data-id="{{colorid}}" src="{{dataValue}}" alt="About Shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="about-area-two pt-15 pb-10 secontSection">
    <div class="container">
        <!-- <div class="scetion-title text-center">
            <span>Lio Nio 9</span>
            <h2>Beast Features Available in Best Price</h2>
            
        </div> -->

        <div class="row pt-35">
            <div class="col-lg-6">
                <div class="about-service-img aboutScootysHome">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bg">
                        <img src="assets/img/home3/scooty-5.png" alt="About Shape">
                    </div>
                </div>
                
            </div>

            <div class="col-lg-6">
                <div class="about-service-text abouServicesLeft">
                    <div class="row">
                        <div class="col-lg-10">
                            <div  class="about-content">
                                <h2>Designed for Generations</h2>
                                <p>Believe in a product that goes a long way. Our scooters 
                                    have been carefully designed with best in class technology.</p>
                                
                 
               
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area-two pt-15 pb-10 thirdSection" style="padding-top: 60px;">
    <div class="container">
        <!-- <div class="scetion-title text-center">
            <span>Lio Nio 9</span>
            <h2>Beast Features Available in Best Price</h2>
            
        </div> -->

        <div class="row pt-35">
            <div class="col-lg-6">
                <div class="about-service-text abouServicesLeft">
                    <div class="row">
                        <div class="col-lg-10">
                            <div  class="about-content">
                                <h2>RANGE</h2>
                                <p>Believe in a product that goes a long way. Our scooters 
                                    have been carefully designed with best in class technology.</p>
                                
                 
               
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-lg-6">
                <div class="about-service-img aboutScootysHome">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bg">
                        <img src="assets/img/home3/km.png" alt="About Shape">
                        <p>160KM</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="about-area-two pt-15 pb-10 fourthSection">
    <div class="container">
        <!-- <div class="scetion-title text-center">
            <span>Lio Nio 9</span>
            <h2>Beast Features Available in Best Price</h2>
            
        </div> -->

        <div class="row pt-35">
            <div class="col-lg-6">
                <div class="about-service-img aboutScootysHome">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bg">
                        <img src="assets/img/home3/km.png" alt="About Shape">
                        <p>160KM</p>
                    </div>
                </div>
               
                
            </div>

            <div class="col-lg-6">
                <div class="about-service-text abouServicesLeft">
                    <div class="row">
                        <div class="col-lg-10">
                            <div  class="about-content">
                                <h2>RANGE</h2>
                                <p>Believe in a product that goes a long way. Our scooters 
                                    have been carefully designed with best in class technology.</p>
                                
                 
               
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="about-area-two pt-15 pb-10 thirdSection">
    <div class="container" style="background: linear-gradient(270deg, #56D01C 22.51%, #36C6CF 102.92%);
    box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;">
        <!-- <div class="scetion-title text-center">
            <span>Lio Nio 9</span>
            <h2>Beast Features Available in Best Price</h2>
            
        </div> -->

        <div class="row pt-35">
            <div class="col-lg-6">
                <div class="about-service-text abouServicesLeft">
                    <div class="row">
                        <div class="col-lg-10">
                            <div  class="about-content">
                                <h2>RANGE</h2>
                                <p>Believe in a product that goes a long way. Our scooters 
                                    have been carefully designed with best in class technology.</p>
                                
                 
               
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-lg-6">
                <div class="about-service-img aboutScootysHome">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bg">
                        <img src="assets/img/home3/km.png" alt="About Shape">
                        <p>160KM</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="about-area-two pt-15 pb-10 fourthSection">
    <div class="container" style="background: linear-gradient(270deg, #FFC700 4.29%, #FFEFB5 64.86%, #FFF5CF 102.92%);
    box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;">
        <!-- <div class="scetion-title text-center">
            <span>Lio Nio 9</span>
            <h2>Beast Features Available in Best Price</h2>
            
        </div> -->

        <div class="row pt-35">
            <div class="col-lg-6">
                <div class="about-service-img aboutScootysHome">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bg">
                        <img src="assets/img/home3/km.png" alt="About Shape">
                        <p>160KM</p>
                    </div>
                </div>
               
                
            </div>

            <div class="col-lg-6">
                <div class="about-service-text abouServicesLeft">
                    <div class="row">
                        <div class="col-lg-10">
                            <div  class="about-content">
                                <h2>RANGE</h2>
                                <p>Believe in a product that goes a long way. Our scooters 
                                    have been carefully designed with best in class technology.</p>
                                
                 
               
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="about-area-two pt-15 pb-10 thirdSection">
    <div class="container" style="background: linear-gradient(270deg, #3F87F5 0%, #4D98C4 43.96%, #36C6CF 102.92%);
    box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;">
        <!-- <div class="scetion-title text-center">
            <span>Lio Nio 9</span>
            <h2>Beast Features Available in Best Price</h2>
            
        </div> -->

        <div class="row pt-35">
            <div class="col-lg-6">
                <div class="about-service-text abouServicesLeft">
                    <div class="row">
                        <div class="col-lg-10">
                            <div  class="about-content">
                                <h2>RANGE</h2>
                                <p>Believe in a product that goes a long way. Our scooters 
                                    have been carefully designed with best in class technology.</p>
                                
                 
               
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-lg-6">
                <div class="about-service-img aboutScootysHome">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bg">
                        <img src="assets/img/home3/km.png" alt="About Shape">
                        <p>160KM</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


<div class="about-area-two pt-15 pb-10 thirdSection">
    <div class="container" style="background: #ffffff;">
        <!-- <div class="scetion-title text-center">
            <span>Lio Nio 9</span>
            <h2>Beast Features Available in Best Price</h2>
            
        </div> -->

        <div class="row pt-35">
            <div class="col-lg-6">
                <div class="about-service-text abouServicesLeft">
                    <div class="row">
                        <div class="col-lg-10">
                            <div  class="about-content pdescription">
                                <h2>Description:</h2>
                                <p>Charging Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <span>80% in 1 Hour (100% in 3-4 Hour)</span></p>
                                <p>Charging Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <span>80% in 1 Hour (100% in 3-4 Hour)</span></p>
                                <p>Charging Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <span>80% in 1 Hour (100% in 3-4 Hour)</span></p>
                                <p>Charging Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <span>80% in 1 Hour (100% in 3-4 Hour)</span></p>
                                <p>Charging Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <span>80% in 1 Hour (100% in 3-4 Hour)</span></p>
                                <p>Charging Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <span>80% in 1 Hour (100% in 3-4 Hour)</span></p>
                                <p>Charging Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <span>80% in 1 Hour (100% in 3-4 Hour)</span></p>
                                <p>Charging Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <span>80% in 1 Hour (100% in 3-4 Hour)</span></p>
                                <p>Charging Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <span>80% in 1 Hour (100% in 3-4 Hour)</span></p>
                                <p>Charging Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <span>80% in 1 Hour (100% in 3-4 Hour)</span></p>
                                <p>Charging Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <span>80% in 1 Hour (100% in 3-4 Hour)</span></p>
                                
                                <h2 class="prdColor">Color:</h2>
                                <div class="row">
                                    <div class="col-lg-5"></div>
                                    <div class="col-lg-5"><div class="row colorCodes">
                                        <div class="col-lg-6"><p>Red&nbsp;&nbsp;<i style="padding-left: 3px;" class='bx bxs-circle clsRed'></i></p></div>
                                        <div class="col-lg-6"><p>Green&nbsp;&nbsp;<i class='bx bxs-circle clsGreen'></i></p><span></span></div>
                                        <div class="col-lg-6"><p>Blue&nbsp;&nbsp;<i class='bx bxs-circle clsBlue'></i></p><span></span></div>
                                        <div class="col-lg-6"><p>black&nbsp;&nbsp;<i style="padding-left: 7px;" class='bx bxs-circle clsBlack'></i></p><span></span></div>
                                    </div></div>
                                    <div class="col-lg-4"></div>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-lg-6">
                
                
            </div>
        </div>
    </div>
</div>


<div class="about-area-two pt-15 pb-10 emiOptions">
    <div class="container">
        <div class="scetion-title text-center">
            <span>EMI Options</span>
            <h2>We provide all possible EMI Options with all banks</h2>
            
        </div>

        <div class="row pt-45">
            

            <div class="col-lg-3">
                <div class="about-service-img aboutScootysHome">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bgs">
                        <img src="assets/img/home3/SBI-Logo.png" alt="About Shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="about-service-img aboutScootysHome">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bgs">
                        <img src="assets/img/home3/Yes-Bank-Logo.png" alt="About Shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="about-service-img aboutScootysHome">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bgs">
                        <img src="assets/img/home3/BOB-logo.png" alt="About Shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="about-service-img aboutScootysHome">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bgs">
                        <img src="assets/img/home3/Indian-Bank.png" alt="About Shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="about-area-two pt-15 pb-10 emiOptions">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Suggested Products</span>
            <h2>Check out our other best deal products also</h2>
            
        </div>

        <div class="row pt-45 paddintTop">
            

            
            <div class="col-lg-4">
                <div class="about-service-img aboutScootysHome sProducts">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bgs">
                        <img data-id="1" data-color="red" src="assets/img/home3/scooty-5.png" alt="About Shape">
                    </div>
                    <h2>Neo</h2>
                    <div (click)="sProduct('1', 'white')" class="about-btn"><a href="javascript:void(0)" class="default-btn know-more-btn">Book Now</a></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-service-img aboutScootysHome sProducts">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bgs">
                        <img data-id="2" data-color="white" src="assets/img/home3/scooty-4.png" alt="About Shape">
                    </div>
                    <h2>Neo</h2>
                    <div (click)="sProduct('2', 'red')" class="about-btn"><a href="javascript:void(0)" class="default-btn know-more-btn">Book Now</a></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-service-img aboutScootysHome sProducts">
                    <!-- <div class="about-man-img">
                        <img src="assets/img/home3/scooty-5.png" alt="About Images">
                    </div> -->

                    <div class="about-man-bgs">
                        <img data-id="3" data-color="grey" src="assets/img/home3/scooty-2.png" alt="About Shape">
                    </div>
                    <h2>Neo</h2>
                    <div (click)="sProduct('3', 'grey')" class="about-btn"><a href="javascript:void(0)"  class="default-btn know-more-btn">Book Now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>